* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1b1c1e;
  font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.btn {
  letter-spacing: 1px;
  background-color: #4d194d;
  border-color: #4d194d;
}

.btn:hover {
  letter-spacing: 1px;
  background-color: #a443a4bd;
  border-color: #4d194d;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login .btn {
  font-size: 1.2rem;
}

.main {
  width: 90%;
  margin: 2rem auto;
}


.form-control {
  font-size: 1.2rem;
}

.main-heading {
  margin: 2rem 0;
}

.hide {
  display: none;
}

.active {
  border: 2px solid #ffffff;
}

.loading {
  display: flex;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10%;
  font-size: 150%;
}


.load-more {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.load-more button {
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  letter-spacing: 1px;
  outline: none;
}

#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );
}

.message {
  position: relative;
  font-size: 150%;
  top: 50%;
  left: 50%;
  transform: translateX(-10%);
  color: #fff;
  letter-spacing: 1px;
}

.loader-open {
  overflow: hidden;
}

.errorMsg {
  color: #f21e08;
  background: #fff0f0;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.search-buttons {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-buttons .btn {
  margin: 0.8rem;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: bold;
  color: #ffffff;
}

.search-buttons .btn:focus {
  box-shadow: none;
}

.albums,
.artists,
.playlist,
.tracks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.card {
  margin: 1rem;
  background-color: #242a2e;
}

.card .card-image-link {
  padding: 1rem;
  text-align: center;
}

.card .card-link{
  color: #006466;
  font-weight: bold;
}

.card .card-link:hover{
  color: #0a8c8e;
  font-weight: bold;
}

.card img {
  max-width: 250px;
  height: 250px;
}

.color-nav{
  background-color: #242a2e;
}

.table th{
  font-size: 0.7em;
}

.table td{
  font-size: 0.8em;
}

.table img{
  width: 40px;
  height: 40px;
}

.table thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background:#343a40;
  z-index: 10;
}

#sticky{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background:#343a40;
  z-index: 10;
}


@media screen and (max-width: 400px) {
  .search-buttons {
    flex-direction: column;
  }
  .search-buttons .btn {
    margin: 0.6rem;
  }
  .card img {
    height: auto;
  }
  .main-heading {
    text-align: center;
  }
}
